.carousel-collection{
    margin-bottom: 40px;
    background: white;
    height: max-content;
}

.grid-row {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin-left: auto;
  margin-right: auto;

}

.grid-element {
    border: 2px solid transparent; 
}

.grid-element:hover {
    border: 1px solid black; 
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.collection-tabs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.tab {
  background: white;
  color: black;
  border: 1px solid grey;
  padding: 0.4rem 0.6rem;
  font-weight: 450;
  cursor: pointer;
  border-radius: 0%;
}

.tab:hover {
    border: 1px solid black;
}

.tab.active {
    background-color: transparent;
    border: none;
    outline: none;
    background: black;
    color: white;
    border: 1px solid black;
}

.view-all-container {
    display: flex;
}

.view-all {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.product-list {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5rem;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: black #f5f5f5;
}

.product-list ul{
    list-style: none;
    box-sizing: content-box;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    transition: all .8s cubic-bezier(.4,0,.2,1);
    gap: 8px;
}

.product-card {
    display: flex;
    flex: 0 0 240px;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0; 
    width: 100%;
    scroll-snap-align: center;
}

.product-card:hover {
    border: 1px solid white;
}



.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}

.wishlist:hover{
    cursor:pointer;
    fill: black;
}

.product-image img{
    /* width: 245px; */
    width: 21vw;
}

.product-info {
    font-size: 12px;
    font-weight: 400;
    padding: 0.5rem;
    padding-bottom: 0;
}

.product-price {
    font-weight: bold;
    margin-bottom: 0.2rem;
    font-size: 14px;
}

.product-name {
    margin-bottom: 0.2rem;
}

.product-tag {
  color: #888;
  font-size: 0.95rem;
} 