.cart-items {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}

.cart-body{
    display: flex;
    flex-direction: row;
}

.cart-items-list{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.cart-items-format-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 5rem;
}


.cart-items-format-main h2 {
    font-weight: 800;
    margin-bottom: 0;
}

.cart-items-format {
    display: flex;
    border: 1px solid black;
    margin: 1rem 5rem;
    
    height: 30vh;
}

.icon {
    height: 100%;
    width: auto;
}

.cart-items-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    width: 100%;
}

.cart-items-quantity {
    border: 1px solid black;
    border-radius: 0;
    background-color: white;
    color: black;
    width: 5vw;
    font-weight: 600;
}

.cart-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    margin: 3.5rem 2rem;
    width: auto;
    height: auto;
}

.remove:hover{
    color: rgb(92, 92, 92);
}

.add-to-wishlist{
    color: black;
}

.add-to-wishlist:hover{
    fill: black;
}

.order-summary{
    display: flex;
    flex-direction: column;
    width: 24vw;
}

.list-summary{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}

.list-summary li{
    display: flex;
    justify-content: space-between;
}

.total {
    margin: 1rem 0rem;
    font-weight: bold;
}

.checkout {
    display: flex;
    border-radius: 0;
    justify-content: space-between;
    padding: 0rem 1rem;
    position: relative;
  background: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
}


.checkout::after {
  content: "";
  position: absolute;
  top: 4px;  
  left: 4px; 
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 0; 
}

.checkout:hover{
    color: rgb(194, 194, 194);
    transition: all 0.3s ease;
    border: 1px solid black;
}